extends layout
block content
  h1= "Workout programs"
  table.table
    thead
      tr
        th= "Name"
        th= "Number of exercises"
        th= "Done"
        th= "Details"
        th= "Delete"
        
    tbody
      each workout in Workouts
        tr
          td=workout.name
          td=workout.exercises.length
          td
            input(type='checkbox')
          td
            a(href="/specificWorkout/"+workout._id+"/#{User._id}") details
          td
            input.btn-link(type='button' value='delete' onclick='DeleteWorkout("#{workout._id}")')

  h2= "Add new workout program"
  .input-group.col-md-4
    input.form-control#workoutInputId(type='text',placeholder='Workout program name',aria-describedby='basic-addon2')
    span.input-group-addon#basic-addon2(onclick='AddWorkout()') Add
  
  script.
    var AddWorkout = function() {
      var workoutName=$("#workoutInputId").val();
       $.post( "/workout/"+workoutName, function() {
       location.reload();
       });
    } 
    var DeleteWorkout = function(id) {
      $.ajax({
      url: '/workout/'+id,
      type: 'DELETE',
      success: function(result) {
        location.reload();
      }
    });
    } 
    
