@model Obligatorisk1.Models.Component

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Component</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComponentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComponentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComponentInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComponentInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datasheet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datasheet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @if (Model.Image != null)
            {
                <div class="pull-left" style="margin-right: 10px">
                    <img class="img-thumbnail" width="75" height="75"
                         src="@Url.Action("GetImage", "Components",new {componentId= Model.Id })" />
                </div>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerLink)
        </dd>

        <dt>
            Specific components:
        </dt>
        <dd>
            <td class="table-responsive">
            <table class="table">
                <tr>
                    <th>Component number</th>
                    <th>Component serial number</th>
                    <th>Lent out to</th>
                </tr>
                @foreach (var specificComponent in Model.SpecificComponent)
                {
                    <tr>

                        <td>
                            @specificComponent.ComponentNumber
                        </td>
                        <td>@specificComponent.SerieNr</td>
                        <td>
                            @if (specificComponent.LoanInformation != null && specificComponent.LoanInformation.User != null)
                            {
                                @specificComponent.LoanInformation.User.StudieNumber
                            }
                            else
                            {
                               @:No one
                            }</td>

                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
