@model Obligatorisk1.Models.Component

@{
    ViewBag.Title = "title";
}

<h2>Lend out component</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComponentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComponentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComponentInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComponentInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datasheet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datasheet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerLink)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpecificComponent[0].ComponentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecificComponent[0].SerieNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecificComponent[0].LoanInformation.LoanDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecificComponent[0].LoanInformation.User.StudieNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.SpecificComponent)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerieNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanInformation.LoanDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanInformation.User.StudieNumber)
            </td>
            <td>
                <button></button>
            </td>
        </tr>
    }

</table>